.Table__itemCount {
    /* margin-top: 10px; */
    font-size: 14px;
  }
  
  .Table__pagination {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    color: #A1A1AA;
    font-size: small;
    font-weight: 500;
    line-height: 20px;
  }
  
  .Table__pageButton {
    font-size: small;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .Table__pageButton:disabled {
    cursor: not-allowed;
    color: #52525B;
  }
  
  .Table__pageButton--active {
    color: #A1A1AA;
    font-weight: bold;
    cursor: pointer
  }
  